<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>You are not authenticated</h1>
    <p>Please log in to access this page!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
<%- include('includes/footer') %>